@{
    ViewBag.Title = "Unit tests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta charset="utf-8">
<title>Unit tests</title>

<div id="qunit"></div>
<div id="qunit-fixture"></div>
<script src="unitTests.js"></script>